body {
  background-color:#FAEBD7;
}

h1 {
  color: white;
  font-family:helvetica;
  background-color: #663300;
  border: 2px solid #663300;
  padding: 20px;
}

h2{
  color:#663300;
  font-family:helvetica;
  background-color: #efdcc2;
  border-width: 4px solid #e0b985;
  padding: 10px;
  margin-top: 25px;
}

h3{
  color:#663300;
  font-family:helvetica;
  background-color: #efdcc2;
  border-width: 4px solid #e0b985;
  padding: 10px;
  margin-top: 25px;
}

p{
  color:#503816;
  font-family:monospace;
}

img{
  border: 4px solid #efdcc2;
  width:25%;
  height:25%;
  margin-left:100px;
  padding: 5px;
}

figcaption{
  color:#503816;
  font-family:monospace;
  margin-left: 100px;
}
